<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Sign</servlet-name>
        <servlet-class>Sign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_Database</servlet-name>
        <servlet-class>Reg_Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_Worker</servlet-name>
        <servlet-class>Reg_Worker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Value_to_DT</servlet-name>
        <servlet-class>Value_to_DT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetValues</servlet-name>
        <servlet-class>GetValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Worker_id</servlet-name>
        <servlet-class>Worker_id</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign</servlet-name>
        <url-pattern>/Sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_Database</servlet-name>
        <url-pattern>/Reg_Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_Worker</servlet-name>
        <url-pattern>/Reg_Worker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Value_to_DT</servlet-name>
        <url-pattern>/Value_to_DT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetValues</servlet-name>
        <url-pattern>/GetValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Worker_id</servlet-name>
        <url-pattern>/Worker_id</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
